<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ welcome }}</h1>






<div class="results">
    <table id="result_list">
    <thead>
    <tr>
    
    <th scope="col"  class="action-checkbox-column">
       
       <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-metabolomics">
       
         
       
       <div class="text"><a href="?o=1">Metabolomics</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-mz">
       
         
       
       <div class="text"><a href="?o=2">Mz</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-rt">
       
         
       
       <div class="text"><a href="?o=3">Rt</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-provider">
       
         
       
       <div class="text"><a href="?o=4">Provider</a></div>
       <div class="clear"></div>
    </th>
    <th scope="col"  class="sortable column-updatetime">
       
         
       
       <div class="text"><a href="?o=5">Updatetime</a></div>
       <div class="clear"></div>
    </th>
    </tr>
    </thead>
    <tbody>

    


    {% for meta in meta_list %}
    <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="2" class="action-select" /></td><th class="field-metabolomics"><a href="/admin/blog/meta/2/change/">{{meta.metabolomics}}</a></th><td class="field-mz">{{meta.mz}}</td><td class="field-rt">{{meta.rt}}</td><td class="field-provider nowrap">{{meta.provider}}</td><td class="field-updatetime nowrap"><time class="entry-date" datetime="{{ meta.updatetime}}">{{ meta.updatetime}}</time></td></tr> 
    {% empty %}
      <div class="row1">null</div>
    {% endfor %}


   
    
    </tbody>
    </table>
    </div>




</body>
</html>